[submodule "lib/sensor-integration"]
	path = lib/sensor-integration
	url = https://github.com/HUMASoft/sensor-integration.git
[submodule "lib/i-plot"]
	path = lib/i-plot
	url = https://github.com/munozyanez/i-plot.git
